<%- include ('../partials/header.ejs') %> 

    <div class="container">
        <a href="/projects">View Projects</a>
        <h1 class="mb-4">New Project </h1>
        
        <form action="/projects" method="post">
            <%- include ('./_form_fields.ejs') %> 
        </form>

    </div>

<%- include ('../partials/footer.ejs') %> 