/* .App {
  text-align: center;
} */

.App {
  width: 85%;
  margin:0 auto;
}

/* NAVBAR */
nav{
  padding:40px 0 0 0;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin: 0 10px ;
}

/* ABOUT */
.aboutMe{
  padding:40px 0;
}

.aboutMe h4{
  font-weight:normal;
  margin-bottom: 25px;
}

/* LATEST POSTS */
article{
  box-shadow: 1px 1px 1px #a8a8a8;
  margin:5px 0;
  padding: 10px;
}

article a{
  width:100%;
  display: block;
  color:#000;
}

/* ACHIEVEMENTS */
.timelineContainer{
  /* width: 200px; */
  border:1px solid #000;
  text-align: center;
}

.headerContainer p:nth-of-type(2){
  font-size: 0.7em;
}

/* FOOTER */
footer {
  width: 100%;
  padding:20px;
  text-align: center;
}
