/* .App {
  text-align: center;
} */

.App {
  width: 85%;
  margin:0 auto;
}

/* ABOUT */
.aboutMe{
  padding:40px 0;
}

.aboutMe h4{
  font-weight:normal;
  margin-bottom: 25px;
}

.socials{
  text-align: center;
}

/* LATEST POSTS */
article{
  box-shadow: 1px 1px 3px #a8a8a8;
  margin:10px 0;
  padding: 10px;
  transition: all 0.3s;
}

article:hover{
  transform: scale(1.01);
}

article a{
  width:100%;
  display: block;
  color:#000;
}

/* ACHIEVEMENTS */
.timelineContainer{
  /* width: 200px; */
  border:1px solid #000;
  text-align: center;
}

.headerContainer p:nth-of-type(2){
  font-size: 0.7em;
}

/*  SKILLS */
.skills{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:5px;
  grid-row-gap: 15px;
  text-align: center;
}

.skills div{
  background-color: #e4e4e4;
  max-width:200px;
  width:100%;
  padding: 15px 0;
  margin:0 auto;
  border-radius: 5px;
}

.skills p{
  font-size:.9em;
}

/* FOOTER */
footer {
  width: 100%;
  padding:20px;
  text-align: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}
