<%- include ('../partials/header.ejs') %> 
    
    <div class="container">
        <h1 class="mb-4">Edit Achievement</h1>

        <form action="/timeline/<%= timeline.id%>?_method=PUT" method="post">
            <%- include ('./_form_fields.ejs') %> 
        </form>
    </div>
    
<%- include ('../partials/footer.ejs') %> 
