<%- include ('../partials/header.ejs') %> 
    
    <div class="container">
        <h1 class="mb-4">New Timeline Item</h1>
        <div class="d-flex justify-content-between my-3">
            <div>
                <p>Colors</p>
                <ul class="list-group">
                    <li style="color: #fff; background-color: #bc2a8d;" class="list-group-item">Instagram: #bc2a8d</li>
                    <li style="color: #fff; background-color: #C44900;" class="list-group-item">Blog: #C44900</li>
                    <li style="color: #fff; background-color: #1DA2F1;" class="list-group-item">Twitter: #1DA2F1</li>
                    <li style="color: #fff; background-color: #BBB6DF;" class="list-group-item">Project: #BBB6DF</li>
                    <li style="color: #fff; background-color: #D92A1C;" class="list-group-item">Education: #D92A1C</li>
                    <li style="color: #fff; background-color: #089C43;" class="list-group-item">Work: #089C43</li>
                    <li style="color: #fff; background-color: #1E1B18;" class="list-group-item">Other: #1E1B18</li>
                </ul>
            </div>
            <div>
                <p>Link Text</p>
                <ul class="list-group">
                    <li class="list-group-item">See Profile</li>
                    <li class="list-group-item">View Post</li>
                    <li class="list-group-item">Check out my Profile</li>
                    <li class="list-group-item">View my Project here</li>
                </ul>
            </div>
        </div>

        <form action="/timeline" method="post">
            <%- include ('./_form_fields.ejs') %> 
        </form>
    </div>
    
<%- include ('../partials/footer.ejs') %> 
