

/* @media only screen and (min-width: 1024px) {

    h2{
        color:red;
    }

    body{
        width:60%;
        margin:0 auto;
    }

    .project-Container{
        width: 100%;
        display: grid;
        grid-gap:10px;
        grid-template-columns: 1fr 1fr;
    }

    .skills{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
      }


} */